<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
  <p>Hi {{name}},</p>
  <p>
    Thank you for for reserving tickets to {{production.title}} {{production.year}} - {{production.subtitle}}.
    Please pay for your tickets by {{order.expires}}, otherwise your order may be cancelled.
  </p>

  <h3>Your Order</h3>
  <p>
      {{order.totalSeats}}x - {{production.title}} {{production.year}}<br />
      <b>Total: </b>{{order.paidPrice}}
  </p>

  <hr />

  <h3>Payment Methods</h3>
  <p>
      We support cash or paypal.
      TODO: LOL
  </p>

  <p>We hope you enjoy the show!</p>
</body>

</html>
